
.framee-1{
    top: 5px;
    left: 3px;
    width: 1285px;
    height: 523px;
    position: absolute;
    background-color: #ffffff;
    overflow: hidden;
    margin: 0 0;
  }
  
  .Img1{
    top: 40px;
    left: 73px;
    position: absolute;
    height: 190px;
    width: 190px;
    margin: 0 0;
  }
  
  .framee-2{
    top: 10px;
    left: 273px;
    width: 895px;
    height: 210px;
    border-radius: 20px;
    position: absolute;
    background-color: #AAA6A6;
    margin: 0 0;
  }

  .image-2-1{
    top: 23px;
    left: 25px;
    width: 145px;
    height: 140px;
    position: absolute;
    margin: 0 0;
  }

  .framee-2-1{
    top: 17px;
    left: 103px;
    width: 195px;
    height: 190px;
    border-radius: 60px;
    position: absolute;
    background-color: #838383;
    margin: 0 0;
  }

  .framee-3{
    top: 233px;
    left: 23px;
    width: 1237px;
    height: 270px;
    /* border-radius: 20px; */
    position: absolute;
    background-color: #AAA6A6;
    margin: 0 0;  
  }
  .framee-4{
    top: 260px;
    left: 565px;
    width: 455px;
    height: 190px;
    position: absolute;
    border-radius: 20px;
    background-color: #AAA6A6;
    margin: 0 0;
  }
  .framee-5{
    top: 5px;
    left: 2px;
    width: 1265px;
    height: 510px;
    position: absolute;
    border-radius: 20px;
    background-color: #AAA6A6;
    margin: 0 0;
  }

  .img-1{
    top: 5px;
    left: 2px;
    width: px;
    height: 510px;
    position: absolute;
    margin: 0 0;
  }

  .location-name{
    top:44px;
    left:35px;
    width: px;
    height: 510px;
    position: absolute;
    margin: 37px 0;
    line-height: 245%;
  }
  .location-details{
    top:20px;
    left:335px;
    width: px;
    text-align: left;
    height: 510px;
    position: absolute;
    margin: 15px 0;
    line-height: 235%;
  }

  .location-name-1{
    top:54px;
    left:55px;
    width: px;
    height: 510px;
    position: absolute;
    margin: 37px 0;
    line-height: 245%;
  }
  .location-details-1{
    top:20px;
    left:435px;
    width: px;
    text-align: left;
    height: 510px;
    position: absolute;
    margin: 15px 0;
    line-height: 245%;
  }

  
  .image-2-2{
    top: 163px;
    left: 225px;
    width: 145px;
    height: 140px;
    position: absolute;
    margin: 0 0;
  }
  .image-2-3{
    top: 163px;
    left: 525px;
    width: 145px;
    height: 140px;
    position: absolute;
    margin: 0 0;
  }
  .image-2-4{
    top: 163px;
    left: 825px;
    width: 145px;
    height: 140px;
    position: absolute;
    margin: 0 0;
  }
