.framee100{
    top: 3px;
    left: 3px;
    width: 1265px;
    height: 525px;
    position: absolute;
    background-color: #ffffff;
  
  }
  
  .Img1-100{
    top: 25px;
    left: 55px;
    position: absolute;
    height: 146px;
    width: 146px;
  }
  
  .framee200{
    top: 30px;
    left: 893px;
    width: 255px;
    height: 190px;
    border-radius: 40px;
    position: absolute;
    background-color: #838383;
  
  }
  .framee300{
    top: 135px;
    left: 793px;
    width: 455px;
    height: 380px;
    border-radius: 20px;
    position: absolute;
    background-color: #AAA6A6;  
  }
  .framee400{
    top: 10px;
    left: 0px;
    width: 785px;
    height: 505px;
    position: absolute;
    border-radius: 20px;
    background-color: #D1D1D1;
  
  }
  .framee-5{
    top: 5px;
    left: 2px;
    width: 1265px;
    height: 510px;
    position: absolute;
    border-radius: 20px;
    background-color: #AAA6A6;
  }.framee-5-1{
    top: 15px;
    left: 15px;
    width: 1229px;
    height: 479px;
    position: absolute;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .img-1{
    top: 5px;
    left: 2px;
    width: px;
    height: 510px;
    position: absolute;
  }

  .location-name{
    top:44px;
    left:35px;
    width: px;
    height: 510px;
    position: absolute;
  }.location-details{
    top:20px;
    left:335px;
    width: px;
    text-align: left;
    height: 510px;
    position: absolute;
  }

  .location-name-1{
    top:54px;
    left:55px;
    width: px;
    height: 510px;
    position: absolute;
  }.location-details-1{
    top:20px;
    left:435px;
    width: px;
    text-align: left;
    height: 510px;
    position: absolute;
  }

  
  .image-2-2{
    top: 173px;
    left: 225px;
    width: 145px;
    height: 140px;
    position: absolute;
  }
  .image-2-3{
    top: 173px;
    left: 825px;
    width: 145px;
    height: 140px;
    position: absolute;
  }
  .image-2-4{
    top: 173px;
    left: 525px;
    width: 145px;
    height: 140px;
    position: absolute;
  }.text-5-1{
    top: 300px;
    left: 225px;
    text-decoration: underline;
    text-align: center;
    width: 145px;
    height: 140px;
    position: absolute;
  }.text-5-2{
    top: 300px;
    left: 525px;
    text-decoration: underline;
    text-align: center;
    width: 145px;
    height: 140px;
    position: absolute;
  }.text-5-3{
    top: 300px;
    left: 825px;
    text-decoration: underline;
    text-align: center;
    width: 145px;
    height: 140px;
    position: absolute;
  }


  .location-name-100{
    top:69px;
    left:160px;
    width: px;
    height: 510px;
    position: absolute;
    margin: 30px 0;
    line-height: 175%;
  }.location-details-100{
    top:159px;
    left:35px;
    width: px;
    text-align: left;
    height: 510px;
    position: absolute;
    margin: 5px 0;
    line-height: 240%;
  }


  .chart-container { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }