.popup {
    position: absolute;
    top: -50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    width: 415px;
    padding: 20px 30px;
    background: #fff8;
    box-shadow: 3px 3px 6px 6px rgba(0,0,0,0.15);
    border-radius: 10px;
    backdrop-filter: blur(8px);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    display: flex;
    position: fixed;
    z-index: 1000;
    align-items: center;
    justify-content: center;
  }
  
  .popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
            opacity 200ms ease-in-out 0ms,
            transform 200ms ease-in-out 0ms;
    background-color: linear-gradient(to left, rgb(21, 21, 21), rgb(35, 35, 36));
  }

  .popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .popup .form h2 {
    text-align: center;
    columns: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
  }
  
  .popup .form .form-element {
    margin: 15px 0px;
  }
  
  .popup .form .form-element label {
    font-size: 14px;
    color: #222;
    text-align: left;
  }
  
  .popup .form .form-element input[type="email"],
  .popup .form .form-element input[type="password"],
  .popup .form .form-element input[type="text"]
    {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
  } 
  
  .popup .button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
  }

  * {
    box-sizing: border-box;
  }

  .form-element .show-password {
    position: absolute;
    top: 44%;
    right: 67px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: black;
    cursor: pointer;
  }
  
  .form-element .show-password:hover {
    text-decoration: underline;
  }